<div class="container register-form">
  <div class="form">
    <div class="header">
        <p>Forgot Password</p>
    </div>

    <form [formGroup]="changeform" (ngSubmit)="forgorPassword()">
      <div class="form-content">
        <div class="form-group d-flex justify-content-center row">
          <label *ngIf="!emailSend" class="col-12  text-center col-form-label">
            Enter your email address and we will send you a link to reset your password.
          </label>
          <label *ngIf="emailSend" class="col-12  text-center col-form-label">
            An e-mail was sent to your email address that you provided, there you can change your password.
          </label>
          <label *ngIf="errorEmailSend" class="col-12 text-danger text-center col-form-label">
            an error occurred with the server when checking your email, try again later
        </label>
          <div class="col-4">
            <input  *ngIf="!emailSend"
                    class="form-control"
                    type="email"
                    placeholder="Email address"
                    formControlName="email">
            <small id="passwordHelpBlock" class="form-text text-center text-muted">
            </small>
            <button *ngIf="!emailSend" type="submit" class="btnSubmit">Send Email</button>
            <button *ngIf="emailSend" type="button"  (click)="goToHome()" class="btnSubmit">Go to Home</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
