<div class="container register-form">
  <div class="form">
    <div class="header">
        <p>Sign in</p>
    </div>
    <div class="form-content">
      <form [formGroup]="loginUserForm" (ngSubmit)="loginUser()">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group" >
                  <input  type="text"
                          class="form-control"
                          placeholder="Email address *"
                          [ngClass]="{'invalidField':(!loginUserForm.get('email').valid && loginUserForm.get('email').touched) || (validatedForm && !loginUserForm.get('email').valid)}"
                          formControlName="email"/>
              </div>
              <div class="form-group">
                  <input  type="password"
                          class="form-control"
                          placeholder="Password *"
                          [ngClass]="{'invalidField':(!loginUserForm.get('password').valid && loginUserForm.get('password').touched) || (validatedForm && !loginUserForm.get('password').valid)}"
                          formControlName="password"/>
                  <small *ngIf="!loginUserForm.get('password').valid && loginUserForm.get('password').touched" class="form-text text-center text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers and the first letter has to be uppercase.
                  </small>

                <div *ngIf="userNotValid"  class="form-control-feeback text-danger text-center">
                  invalid email or password
                </div>
                <div *ngIf="socialMedia"  class="form-control-feeback text-danger text-center">
                  At the moment authentication with Social networks is under development, try by Email
                </div>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit"class="btnSubmit">Login</button>
              </div>
              <div class="form-group">
                <button (click)="signInSocialMedia(true)" type="button" class="btnFacebook ">Facebook</button>
              </div>

              <div class="form-group">
              <button (click)="signInSocialMedia(false)" type="button" class="btnGoogle ">Google</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
