<div class="container register-form">
  <div class="form">
    <div class="header">
        <p>Create your account</p>
    </div>
    <div class="form-content">

      <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group" >
                  <input  type="text"
                          class="form-control"
                          placeholder="Email address *"
                          [ngClass]="{
                            'is-invalid':!createUserForm.get('email').valid && createUserForm.get('email').touched,
                            'is-valid':createUserForm.get('email').valid
                          }"
                          formControlName="email"/>
                <small *ngIf="!createUserForm.get('email').valid && validatedForm" [ngStyle]="{'color':'#dc3545'}" class="form-text text-center">
                  Required field
                </small>
              </div>
              <div class="form-group">
                  <input  type="password"
                          class="form-control"
                          placeholder="Password *"
                          [ngClass]="{
                            'is-invalid':!createUserForm.get('password').valid && createUserForm.get('password').touched,
                            'is-valid':!createUserForm.get('password').errors?.capitalLetter && createUserForm.get('password').valid
                          }"
                          formControlName="password"/>
                  <small *ngIf="!createUserForm.get('password').pristine && !createUserForm.get('password').valid" class="form-text text-center text-muted">
                    Your password must contain the following: 8-20 characters long, the first character must be capital (uppercase) letter, a numbers and a lowercase letter.
                  </small>
                  <small *ngIf="!createUserForm.get('password').valid && validatedForm" [ngStyle]="{'color':'#dc3545'}" class="form-text text-center">
                    Required field
                  </small>

              </div>
              <div class="form-group">
                <input  type="text"
                        class="form-control"
                        placeholder="First Name * "
                        [ngClass]="{
                          'is-invalid':!createUserForm.get('firstName').valid && createUserForm.get('firstName').touched,
                          'is-valid':createUserForm.get('firstName').valid
                        }"
                        formControlName="firstName"/>
                  <small *ngIf="!createUserForm.get('firstName').valid && validatedForm" [ngStyle]="{'color':'#dc3545'}" class="form-text text-center">
                    Required field
                  </small>
              </div>

          </div>

          <div class="col-md-6">
              <div class="form-group">
                  <input  type="text"
                          class="form-control"
                          placeholder="Last Name *"
                          [ngClass]="{
                            'is-invalid':!createUserForm.get('lastName').valid && createUserForm.get('lastName').touched,
                            'is-valid':createUserForm.get('lastName').valid
                          }"
                          formControlName="lastName"/>
                <small *ngIf="!createUserForm.get('lastName').valid && validatedForm" [ngStyle]="{'color':'#dc3545'}" class="form-text text-center">
                  Required field
                </small>
              </div>

              <div class="form-group">
                  <input  type="text"
                          class="form-control"
                          placeholder="Company"
                          formControlName="company"/>
              </div>

              <div class="form-group">
                <button type="submit"
                        class="btnSubmit"
                        >Sign Up</button>
                <button (click)="signUpSocialMedia(true)" type="button" class="btnFacebook ">Facebook</button>
                <button (click)="signUpSocialMedia(false)" type="button" class="btnGoogle ">Google</button>
                <div *ngIf="socialMedia"  class="form-control-feeback text-danger text-center">
                  At the moment authentication with Social networks is under development, try by Email
                </div>
              </div>
          </div>

          <div *ngIf="existingUser"  class="form-control-feeback text-danger text-center">
            This user already exists, try other alternate data
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
