<div class="container register-form">
  <div class="form">
    <div class="header">
        <p>Create your account</p>
    </div>
    <div class="form-content">
      <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group" >
                  <input  type="text"
                          class="form-control"
                          placeholder="Email address *"
                          [ngClass]="{'is-invalid':!createUserForm.get('email').valid && createUserForm.get('email').touched}"
                          formControlName="email"/>
              </div>
              <div class="form-group">
                  <input  type="password"
                          class="form-control"
                          placeholder="Password *"
                          [ngClass]="{'is-invalid':!createUserForm.get('password').valid && createUserForm.get('password').touched}"
                          formControlName="password"/>
                  <small *ngIf="!createUserForm.get('password').valid && createUserForm.get('password').touched" class="form-text text-center text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers and the first letter has to be uppercase.
                  </small>
              </div>
              <div class="form-group">
                <input  type="text"
                        class="form-control"
                        placeholder="First Name * "
                        [ngClass]="{'is-invalid':!createUserForm.get('firstName').valid && createUserForm.get('firstName').touched}"
                        formControlName="firstName"/>
              </div>

          </div>

          <div class="col-md-6">
              <div class="form-group">
                  <input  type="text"
                          class="form-control"
                          placeholder="Last Name *"
                          [ngClass]="{'is-invalid':!createUserForm.get('lastName').valid && createUserForm.get('lastName').touched}"
                          formControlName="lastName"/>
              </div>

              <div class="form-group">
                  <input  type="text"
                          class="form-control"
                          placeholder="Company"/>
              </div>

              <div class="form-group">
                <button type="submit"
                        class="btnSubmit"
                        [disabled]="!createUserForm.valid">Email</button>
                <button (click)="signUpSocialMedia(true)" type="button" class="btnFacebook ">Facebook</button>
                <button (click)="signUpSocialMedia(false)" type="button" class="btnGoogle ">Google</button>
                <div *ngIf="socialMedia"  class="form-control-feeback text-danger text-center">
                  At the moment authentication with Social networks is under development, try by Email
                </div>
              </div>
          </div>

          <div *ngIf="existingUser"  class="form-control-feeback text-danger text-center">
            This user already exists, try other alternate data
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
