.header
{
  text-align: center;
  height: 50px;
  background: black;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
}
.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 33%;
  cursor: pointer;
  background: black;
  color: #fff;
}
.btnFacebook
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 33%;
  cursor: pointer;
  background: #0000FF;
  color: #fff;
}
.btnGoogle
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 33%;
  cursor: pointer;
  background: #FF0000;
  color: #fff;
}
