<div class="container register-form">
  <div class="form">
    <div class="header">
        <p>Profile</p>
    </div>
    <div class="form-content" *ngIf="user">
        <form [formGroup]="profileUserForm" (ngSubmit)="editProfile()">
            <div class="row">
                <div class="col-md-6 mb-4">

                  <%if (authService === 'auth0') {%><div class="form-group">
                    <small class="form-text">
                        First name
                    </small>
                    <input type="text" class="form-control" placeholder="First name *" formControlName="name" />
                  </div>

                  <div class="form-group">
                    <small class="form-text">
                        Last name
                    </small>
                    <input type="text" class="form-control" placeholder="Last name *" formControlName="family_name" />
                  </div>

                  <div class="form-group">
                    <small class="form-text">
                        Nickname
                    </small>
                    <input type="text" class="form-control" placeholder="Nickname *" formControlName="nickname" />
                  </div><%}%>

                  <%if (authService === 'firebase') {%><div class="form-group" >
                      <small class="form-text">
                        Full name
                      </small>
                      <input  type="text" class="form-control" placeholder="Full name *" formControlName="displayName"/>
                    </div><%}%>

                    <div *ngIf="userUpdated" class="form-control-feeback mb-2 text-success text-center">
                        user updated successfully
                    </div>
                    <div *ngIf="errorUpdate" class="form-control-feeback mb-2 text-danger text-center">
                        Error updating information, try again later
                    </div>
                    <%if (authService === 'auth0') {%><button type="submit"
                            [disabled]="!(profileUserForm.get('name').dirty || profileUserForm.get('family_name').dirty || profileUserForm.get('nickname').dirty)"
                            class="btnSubmit">
                            Edit Profile
                    </button><%}%>

                    <%if (authService === 'firebase') {%><button type="submit"
                            [disabled]="!(profileUserForm.get('displayName').dirty)"
                            class="btnSubmit">
                            Edit Profile
                    </button><%}%>
                </div>
                <div class="col-md-6">
                    <div class="ml-5">
                        <%if (authService === 'auth0') {%><p> Email : {{user.email}}</p>
                        <p> First name: {{user.name}}</p>
                        <p> Last name: {{user.family_name}}</p>
                        <p> Nickname: {{user.nickname}} </p>
                        <p *ngIf="user.email_verified"> Verified Email: Yes</p>
                        <p *ngIf="!user.email_verified"> Verified Email: No</p>
                        <p> Creation Date: {{user.created_at | date:'medium'}}</p>
                        <p> Last SignIn: {{user.last_login | date:'medium'}}</p><%}%>
                        <%if (authService === 'firebase') {%><p> Email : {{user.email}}</p>
                        <p> Full name: {{user.displayName}}</p>
                        <p> Authentication Method: {{user.providerData[0].providerId}} </p>
                        <p> UID User: {{user.providerData[0].uid}} </p>
                        <p *ngIf="user.emailVerified"> Verified Email : Yes</p>
                        <p *ngIf="!user.emailVerified"> Verified Email : No</p>
                        <p> Creation Date: {{user.metadata.creationTime | date:'medium'}}</p>
                        <p> Last SignIn : {{user.metadata.lastSignInTime | date:'medium'}}</p><%}%>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="verifiedUser">
      <div class="form-content">
        <div class="form-group d-flex justify-content-center row">
          <label *ngIf="!emailSend" class="col-12  text-center col-form-label">
              Enter your email address and we will send you a link to reset your password.
          </label>
          <label *ngIf="emailSend" class="col-12  text-center col-form-label">
            An e-mail was sent to your email address that you provided, there you can verify your email.
          </label>
          <label *ngIf="errorEmailSend" class="col-12 text-danger text-center col-form-label">
              an error occurred with the server when checking your email, try again later
          </label>
          <div class="col-4">
              <button *ngIf="!emailSend" type="submit" (click)="emailToVerifySent()" class="btnSubmit">Send verification email</button>
              <button *ngIf="emailSend" type="button" (click)="goToHome()" class="btnSubmit">Go toHome</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
