<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavBAr" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseNavBAr">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
    <%if(imports && imports.herokuConnect){%>
    <ul  *ngIf="user && herokuModules" class="navbar-nav">
      <li class="nav-item" *ngFor="let herokuModule of herokuModules">
        <a class="nav-link" routerLink="{{herokuModule.path}}">{{herokuModule.title}}</a>
      </li>
    </ul>
    <%}%>
  </div>

  <div class="collapse navbar-collapse justify-content-md-end mr-5" id="collapseNavBAr">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a *ngIf="user" class="nav-link dropdown-toggle" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userName}}</a>
        <a *ngIf="!user" class="nav-link dropdown-toggle" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
        <div *ngIf="!user" class="dropdown-menu" aria-labelledby="dropdown10">
          <a *ngFor="let module of authModule" class="dropdown-item" routerLink="{{module.path}}">{{module.title}}</a>
        </div>
        <div *ngIf="user" class="dropdown-menu" aria-labelledby="dropdown10">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
          <a class="dropdown-item" (click)="logOutUser()" >Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="mt-5">
  <% if (imports && imports.liveChat) { %>
  <cap-live-chat-sf></cap-live-chat-sf>
  <% } %>
  <router-outlet></router-outlet>
</div>
