<ion-split-pane when="md">

 <ion-menu [content]="content">
   <ion-header>

    <ion-navbar>
      <ion-title>
        <img src="assets/imgs/logo.png" alt="Logo" class="img-logo">
      </ion-title>
    </ion-navbar>

     <ion-toolbar color="primary">
       <ion-title>Menu</ion-title>
     </ion-toolbar>
   </ion-header>

   <ion-content class="menu-container">
     <ion-list no-lines>
       <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="transparent list-item">
         {{p.title}}
       </button>
     </ion-list>
   </ion-content>

 </ion-menu>

 <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
 <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>

  <ion-footer class="footer_app">
    <ion-toolbar color="light">
      <ion-title>Copyright <%= name %>@2018</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-split-pane>
