<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown" *ngFor="let module of modules">
        <a id="sign-up-or-login-link" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"> {{module.module}} </a>
        <div class="dropdown-menu">
          <span *ngFor="let page of module.pages">
            <a *ngIf="!user || module.reference === 'Aws'" class="dropdown-item" routerLink="{{page.path}}">{{page.title}}</a>
          </span>
          <%if (imports && imports.auth) {%>
          <a *ngIf="user && module.module === 'Authentication'" class="dropdown-item" routerLink="/">{{userName}}</a>
          <a *ngIf="user && module.module === 'Authentication'" class="dropdown-item" (click)="logOutUser()">Log Out</a>
          <%}%>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
